<h1>New Robot</h1>
<form action="/robots" method="post">
  <input type="text" name="robots[name]" placeholder="Name"></input></br>
  <input type="text" name="robots[city]" placeholder="City"></input></br>
  <input type="text" name="robots[state]" placeholder="State"></input></br>
  <input type="text" name="robots[department]" placeholder="Department"></input></br>
  <input class="btn btn-primary" type="submit" value="Submit"></input>
</form>
